/*Google Maps API*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 50%;
}
h1.mapInfo {
    font-size: 1.3em;
    font-weight: 300;
    text-align: left;
    line-height: 1em;
    color: #000000;
}
b.mapInfo {
    font-weight: 305;
}

/*Contact Us*/
#left {
    float:left;
    width:50%;
    text-align: right;
}
#right {
    float:right;
    width:50%;
    text-align: left;
}
#footer {
    clear:both;
}
textarea {
    width: 250px;
    height: 150px;
    max-width: 500px;
    max-height: 300px;
}
.errorMessage  {
    margin: 0px 0px 5px 0px;
}
