body {
    margin: auto;
    width: 80%;
    border: 3px solid gray;
    padding: 10px;
    text-align: center;
}
h1 {
    font-size: 40px;
    vertical-align: center;
}
table, td {
    margin: auto;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 20px;
}
select {
    min-width: 160px;
}
